POSTGRES_DB=incident_ticket_db
POSTGRES_USER=incident_user
POSTGRES_PASSWORD=incident_password
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/incident_ticket_db
SPRING_DATASOURCE_USERNAME=incident_user
SPRING_DATASOURCE_PASSWORD=incident_password